{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "insertPragma": false,
    "singleAttributePerLine": false,
    "bracketSameLine": false,
    "jsxBracketSameLine": false,
    "js×SingleQuote": false,
    "printwidth": 80,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false,
    "ueIndentScriptAndStyle": false
}